html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.drawar{
  width: 100%;
  height: 100%;
  background: #dcdcdc;
}

.wrapper{
  max-width: 950px;
  height: 100vh;
  margin: 0 auto;
  background: #ffffff;

}

.header{
  width: 100%;
  height: 75px;
  border-bottom : solid 1px #dcdcdc;
  a img{
    height: 65px;
    padding:4px 0 0 30px;
  }
}

.nav{
  width: 200px;
  height: 500px;
  float: right;
  position: relative;
  background: #ffffff;
  border-left: solid 1px #dcdcdc;
  &_container{
    margin: 0;
    padding: 0;
    width: 170px;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-family: "arial";
    font-size: 13px;
    &__page{
      width: 170px;
      height: 40px;
      border-bottom: solid 1px #dcdcdc;
      line-height: 40px;
      vertical-align: middle;
    }
    &__link{
      text-decoration: none;
      color: #000000;
    }
  }
}

.cooks_list{
  height: 160px;
}

.nav_page_cooks_link{
  list-style: none;
}

@media screen and (min-width: 940px) {
  .glyphicon-align-right{
    visibility:hidden;
    float: right;
    padding: 15px 30px 0 0;
  }

  .slide-nav{
    display: none;
  }

  .food-list{
    width: 750px;
    height: 500px;
    &__content{
      float: left;
      margin: 12px;
      position: relative;
      a:hover img{
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "alpha(opacity=70)";
      }
      &_title{
        position: absolute;
        bottom: 0;
        p{
          font-size: 25px;
          color: #ffffff;
          text-shadow: 1px 1px 5px #000000;
          margin-left: 15px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .glyphicon-align-right{
    visibility:visible;
    float: right;
    padding: 15px 30px 0 0;
  }

  .pc-nav{
    display: none;
  }

  .food-list{
    z-index: 10;
    &__content{
      float: left;
      margin: 12px;
      position: relative;
      a:hover img{
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "alpha(opacity=70)";
      }
      &_title{
        position: absolute;
        bottom: 0;
        p{
          font-size: 25px;
          color: #ffffff;
          text-shadow: 1px 1px 5px #000000;
          margin-left: 15px;
          margin-bottom: 25px;
        }
      }

    }
  }

}
.footer{
  width: 100%;
  height: 400px;
  clear: both;
  background: #000000;
}
