<link rel="stylesheet" type="text/css" href="assets/top.css">
<div class="App">
  <div class="App-image">
    <img src="<%= asset_path "2012-12-01 14.42.02.jpg" %>" width="220" height="220" />
  </div>
  <h3 class="App-title">コメントする</h3>
  <ul class="App-list">
    <li><input type="button" value="☓">すいーとぽてと</li>
    <li><input type="button" value="☓">秋だね</li>
    <li><input type="button" value="☓">こげてる</li>
  </ul>
  <input type="text">
  <input type="button" value="追加">
</div>
