<link rel="stylesheet" type="text/css" href="assets/top.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <div class="wrapper">
    <header class="header">
      <a href="">
        <img class="header__img" src="assets/IMG_6578.JPG" alt=""height="65" >
      </a>
    <span class="glyphicon glyphicon-align-right" aria-hidden="true"style="font-size: 40px"></span>
    </header>
    <nav class="nav">
      <ul class="nav_container">
        <li class="nav_container__page">
          <a class="nav_container__link" href="" >HOME</a>
        </li>
        <li class="nav_container__page">
          <%= link_to "INTRODUCTION", introduction_path, class: :"nav_container__link" %>
        </li>
        <li class="nav_container__page cooks_list">
          <a class="nav_container__link" href="">COOKS</a>
          <ul class="nav_page_cooks_link">
            <li><%= link_to "SWEETS", sweets_path %></li>
            <li>DINNER</li>
            <li>CHINESE</li>
          </ul>
        </li>
        <li class="nav_container__page">
          <a class="nav_container__link" href="">CONTACT</a>
        </li>
      </ul>
    </nav>
    <section class="food-list"　style="visibility:hidden">
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>ミルフィーユ</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/2013-08-09 13.01.00.jpg" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>飛騨牛</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_3703.JPG" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>（無題）</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/2013-07-03 21.50.00-2.jpg" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>スイートポテト</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/2012-12-01 14.42.02.jpg" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>オムライス</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_4993.JPG" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>友喜屋</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_20180106_194600.jpg" width="220" height="220" >
        </a>
      </article>
    </section>
    <footer class="footer">
      <a href="">
        <img class="" src="assets/logo_w.png" alt=""height="100" >
      </a>
    </footer>
  </div>
<script type="text/javascript" src="assets/top.js"></script>
